<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %marker %-5level - %msg%n"/>
        </Console>
        <RollingFile name="FileLog" fileName="logs/info.log"
                     filePattern="logs/batchBuilder-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} %marker %-5level - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.foo.Bar" level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLog"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLog"/>
        </Root>
    </Loggers>
</Configuration>