.tab-pane{
    -fx-tab-min-width:24px;
    -fx-tab-max-width:24px;
    -fx-tab-min-height:160px;
    -fx-tab-max-height:160px;
    -fx-close-tab-animation: NONE;
}
.hyperlink{
    -fx-font-size: 18px;
}

.hbox-attribute{
    -fx-padding: 5 5 5 5;
    -fx-font-size: 14px;
    -fx-pref-height: 20px;
    -fx-pref-width: 798px;
}
.label-attribute{
    -fx-font-weight: bold;
    -fx-pref-width:150;
}
.label, .text-area{
    -fx-font-size: 14px;
}

.label-attr-command{
    -fx-text-fill: violet;
}
.label-attrname-command{
    -fx-text-fill: red;
}
.label-command{
    -fx-text-fill: blue;
}
.label-command-newcli{
    -fx-text-fill: black;
}
.text-area{
    -fx-text-fill: blue;
}
.remove-btn{
    -fx-background-image: url("Icon_Remove.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
}
.btn-hbox{
    -fx-hgrow-policy: always;
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 0 20 0 0;
}